@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Manrope', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}

@layer utilities {
	.navbar-menu-li {
	  @apply py-2 lg:py-0;
	}
	.navbar-menu-item {
	  @apply p-0 text-neutral-500 hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400;	 
	}

	.form-label {
		@apply text-xs font-semibold mt-2;
	}
	.form-input {
		@apply w-full px-2 py-1 rounded-sm 
		ring-1 ring-gray-300 
		focus:outline-none focus:ring-1 focus:ring-gray-400;
	}	

	.hscreen-minus-170 {
		height: calc(100vh - 170px)
	}
  }